<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <property name="LOG_DIR" value="/logs" />
  <property name="LOG_FILENAME" value="log-data.part" />
  <timestamp key="bySecond" datePattern="yyyyMMdd.HHmmss"/>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%level] %logger in %thread : %logger{36}  :::  %msg%n ::: %message%n%xException</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${application.home:-.}/logs/${LOG_FILENAME}.%d{yyyy-MM-dd}.error.%i.error</fileNamePattern>
      <totalSizeCap>1GB</totalSizeCap>
      <maxHistory>30</maxHistory>
      <maxFileSize>100MB</maxFileSize>
    </rollingPolicy>
  </appender>

  <appender name="FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_DIR}/archived/info/${LOG_FILENAME}.%d{yyyy-MM-dd}.info.%i.log</fileNamePattern>
      <totalSizeCap>1GB</totalSizeCap>
      <maxHistory>30</maxHistory>
      <maxFileSize>100MB</maxFileSize>
    </rollingPolicy>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE-ERROR" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE-ERROR" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>


  <logger name="application" level="INFO">
    <appender-ref ref="ASYNCFILE-ERROR" />
  </logger>

  <logger name="play" level="INFO" additivity="false">
    <appender-ref ref="FILE-LOG" />
  </logger>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="INFO" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="INFO" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="INFO" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="INFO" />



  <logger name="akka.actor" level="INFO">
    <appender-ref ref="ASYNCFILE-ERROR" />
  </logger>

  <root level="INFO">
    <appender-ref ref="ASYNCFILE-ERROR" />
    <appender-ref ref="ASYNCFILE-ERROR" />
  </root>

</configuration>
